.detail-component {
	background: #101010;
	.content {
		position: relative;
		.title-info {
			color: #FFF;
			margin: 1rem 0;
			padding: 5px 1rem;
			border-bottom: 1px solid #333;
			margin-bottom: 1rem;
			font-size: 16px;
			span {
				font-size: 12px;
			}
		}
		.info-plus {
			float: right;
			width: 100%;
			background: #171717;
			margin-top: 2rem;
			margin-top: 1rem;
			h2 {
				font-size: 18px;
				color: #FFF;
				padding: 5px 1rem;
				border-bottom: 1px solid #333;
				margin: 1rem 0;
			}
			.content {
				padding: 0.5rem 1rem 0;
				p {
					margin-bottom: 15px;
					span {
						padding-bottom: 5px;
						margin-right: 10px;
						float: left;
						width: 100px;
						display: block;
						color: #CCC;
					}
				}
			}
		}
		.info {
			float: left;
			width: 100%;
			padding: 1rem 1rem 0;
			.title {
				font-size: 20px;
				color: #FFF;
				margin-bottom: 1rem;
				font-weight: 400;
				display: none;
				span {
					font-size: 16px;
					color: #777;
				}
				span.time {
					float: right;
					color: #CCC;
					margin-top: 8px;
				}
			}
			.overview {
				font-weight: 300;
				line-height: 25px;
				text-align: justify;
				clear: both;
				font-size: 15px;
			}
		}
		.actors {
			margin-bottom: 1rem;
			clear: both;
			.grid {
				overflow: hidden;
				li {
					padding: 0 0 1rem;
					min-width: 48%;
					margin: 1rem 1% 0;
					text-align: center;
					font-size: 14px;
					cursor: pointer;
					float: left;
					img {
						margin-bottom: 10px;
						border-radius: 50%;
						border: 3px solid #171717;
						height: 100px;
						width: 100px;
					}
					.see {
						color: #999;
						width: 120px;
						font-size: 13px;
						margin: 0 auto;
						margin-top: 15px;
						padding: 3px;
						border: 1px solid #999;
						&:hover {
							border: 1px solid #24b372;
							color: #24b372;
						}
					}
				}
				li.whitoutCursor {
					cursor: initial;
				}
			}
		}
		.genres {
			clear: both;
			overflow: hidden;
			.grid {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-box-pack: start;
				-ms-flex-pack: start;
				justify-content: flex-start;
				-webkit-box-align: start;
				-ms-flex-align: start;
				align-items: flex-start;
				p {
					padding: 5px 10px;
					border-radius: 15px;
					min-width: 80px;
					text-align: center;
					color: #999;
					margin: 0 1rem 1rem;
					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: 1px;
					border: 1px solid #555;
				}
			}
		}
		.reviews {
			article {
				padding: 1rem;
				h2 {
					margin-right: 2rem;
					font-style: italic;
					float: right;
					padding: 2rem 0;
				}
			}
		}
	}
}

@media (min-width: 767px) {
	.detail-component {
		.content {
			padding: 2rem 0;
			.info {
				.title {
					display: block;
					font-size: 24px;
					span {
						font-size: 20px;
					}
				}
				.overview {
					margin-top: 1rem;
					font-size: 1rem;
				}
			}
			.actors {
				.grid {
					li {
						min-width: 31.33333%;
						margin: 1rem 1%;
					}
				}
			}
			.genres {
				margin-bottom: 2rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.detail-component {
		.content {
			.title-info {
				padding: 15px;
				margin-bottom: 30px;
				font-size: 18px;
			}
		}
	}
}

@media (min-width: 1024px) {
	.detail-component {
		.content {
			.info-plus {
				margin-top: 0;
				width: 40%;
				h2 {
					padding: 5px 0px;
					margin: 0 0 1rem;
				}
				.content {
					padding: 1rem 2.5rem 1.5rem;
				}
			}
			.info {
				width: 58%;
				min-height: 400px;
				padding: 1.5rem 2rem 2rem;
				background: #171717;
			}
			.actors {
				.grid {
					li {
						min-width: 18%;
					}
				}
			}
		}
	}
}

@media (min-width: 480px) {
	.detail-component {
		.content {
			.actors {
				.grid {
					li {
						img {
							height: 140px;
							width: 140px;
						}
					}
				}
			}
		}
	}
}
