<div class="favorites-switch-component">
    <fm-favorites-switch-item title="La quiero ver" type="saved" icon="bookmark_border" (onSelectItem)="onSelectItem($event)"></fm-favorites-switch-item>
    <fm-favorites-switch-item title="Ya la he visto" type="viewed" icon="remove_red_eye" (onSelectItem)="onSelectItem($event)"></fm-favorites-switch-item>
    <fm-favorites-switch-item title="Mis favoritas" type="favorite" icon="star_rate" (onSelectItem)="onSelectItem($event)"></fm-favorites-switch-item>
</div>
