/********* # RESET # *********/

/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/********* # RESET # *********/

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	font-size: .875rem;
	line-height: 1.4285714286;
	color: #FFF;
	background: #0d0d0d;
	padding-top: 52px;
	background-image: url('./assets/img/bg-pattern.jpg');
	&.block {
		overflow: hidden;
	}
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	i {
		display: block;
		font-size: 100px;
		color: #24b372;
		text-align: center;
	}
	h2 {
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		color: #FFF;
	}
	.toCenter {
		img {
			width: 130px;
		}
		h2 {
			font-size: 18px;
			letter-spacing: 3px;
			margin-top: -10px;
		}
	}
}

.container {
	clear: both;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.movies-grid {
	overflow: hidden;
	margin-bottom: 3rem;
	li {
		float: left;
		width: 100%;
		padding: 0 1rem 1rem;
		&:last-child {
			padding: 0 1rem 1rem;
		}
	}
}

.toCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.toCenterFixed {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.see-detail {
	position: absolute;
	top: 1rem;
	z-index: 99;
	width: 50px;
	right: 1rem;
	background: rgba(255, 255, 255, 0.9);
	padding: 10px;
	color: #111;
	border-radius: 50%;
	text-align: center;
	font-size: 14px;
	height: 50px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	i {
		font-size: 30px;
	}
}

.see-detail.item {
	bottom: 7rem;
	display: none;
}

.transition {
	-webkit-transition: all ease-in-out 0.15s;
	transition: all ease-in-out 0.15s;
}

@media (min-width: 767px) {
	.loading {
		.toCenter {
			img {
				width: 160px;
			}
			h2 {
				font-size: 24px;
			}
		}
	}
	.movies-grid {
		li {
			width: 33.3333333%;
		}
	}
	.see-detail {
		top: 1rem;
		left: initial;
		right: 1rem;
	}
}

@media (min-width: 480px) {
	.movies-grid {
		li {
			&:last-child {
				padding: 1rem 1.555%;
			}
			width: 50%;
			padding: 1rem 1.555%;
		}
	}
	.see-detail.item {
		display: block;
		top: 13rem;
	}
}

@media (min-width: 1024px) {
	.movies-grid {
		li {
			width: 20%;
		}
	}
	.see-detail.item {
		display: none;
	}
}

@media (min-width: 1025px) {
	.see-detail {
		display: none;
	}
}
