<fm-header></fm-header>
<div class="home-component">
    <fm-movie-featured [lists]="lists[0]" [options]="{ title: true, detail: false, seeDetail: true }"></fm-movie-featured>
    <!-- Playing now -->
    <section class="first">
        <div class="container">
            <fm-movie-list [title]="playingNowTitle" [list]="lists[0].results" [collection]="'now-playing'" type="movie"></fm-movie-list>
        </div>
    </section>
    <!-- Poplar -->
    <section>
        <div class="container">
            <fm-movie-list [title]="popularTitle" [list]="lists[1].results" [collection]="'popular'" type="'movie'"></fm-movie-list>
        </div>
    </section>
    <!-- Upcoming -->
    <section>
        <div class="container">
            <fm-movie-list [title]="upcomingTitle" [list]="lists[2].results" [collection]="'upcoming'" type="movie"></fm-movie-list>
        </div>
    </section>
    <!-- Top rated -->
    <section>
        <div class="container">
            <fm-movie-list [title]="topRatedTitle" [list]="lists[3].results" [collection]="'top-rated'" type="movie"></fm-movie-list>
        </div>
    </section>
    <!-- TV on air -->
    <section>
        <div class="container">
            <fm-movie-list [title]="tvOnAir" [list]="lists[4].results" [collection]="'on-the-air'" type="tv"></fm-movie-list>
        </div>
    </section>
    <!-- TV top rated -->
    <section>
        <div class="container">
            <fm-movie-list [title]="tvToRated" [list]="lists[5].results" [collection]="'top-rated'" type="tv"></fm-movie-list>
        </div>
    </section>
    <!-- TV popular -->
    <section>
        <div class="container">
            <fm-movie-list [title]="tvPopular" [list]="lists[6].results" [collection]="'popular'" type="tv"></fm-movie-list>
        </div>
    </section>
</div>
