.remember-component {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.remember-component .arrow-back {
  font-size: 30px;
  margin: 10px 0 20px -5px;
  cursor: pointer;
}
.remember-component .box {
  padding: 20px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: rgba(34, 34, 34, 0.7);
  border-radius: 10px;
}
.remember-component .box h2 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 40px;
  font-weight: 300;
  text-transform: initial;
}
.remember-component .box h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.remember-component .box img {
  margin-left: -10px;
}
.remember-component .box .separator {
  margin: 20px 0;
  text-align: center;
}
.remember-component .box .btn {
  background: #2196F3;
  border: 0;
  padding: 5px;
  width: 100%;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.remember-component .box .btn span {
  margin-top: 12px;
  text-align: center;
  display: block;
  font-size: 16px;
}
.remember-component .box .btn img {
  width: 40px;
  height: 40px;
  background: #FFF;
  border-radius: 5px;
  float: left;
  margin-left: 0px;
  padding: 5px;
}
.remember-component .box .btn-filmist-link {
  display: block;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  text-decoration: underline;
}
.remember-component .box .btn-filmist {
  background: #22b573;
  border: 1px solid #22b573;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.remember-component .box .btn-filmist.clear {
  background: transparent;
  margin-top: 20px;
}
.remember-component .box .btn-filmist.clear span {
  color: #22b573;
}
.remember-component .box .btn-filmist span {
  font-size: 16px;
  color: #FFF;
}
.remember-component .box .form {
  margin-bottom: 20px;
}
.remember-component .box .form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.remember-component .box .form input {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 15px;
  border: 0;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none;
}
